/* Mobile First */

.header {
    &__imagen {
        background: url(../img/imagen1.png);
        height: 28vh;
        width: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    /* Tablet size */

    @include respond-to($bp-md-tablet) {
        &__imagen {
            height: 70vh;
            background-position: center;
        }
    }

    /* Desktop Size */

    @include respond-to($bp-xl-desktop) {
        &__imagen {
            height: 90vh;
            background-position: top;
        }
    }
}