/* Mobile First */

.navbar {
    background-color: $white;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &__logo {
        background-color: $smoky-black;
        height: 100%;
        width: 70px;
        display: inline-block;
    }
    &__logoName {
        margin: 0 auto;
        font-family: $secondary-font;
        font-size: $x-large-font;
        color: $white;
        text-align: center;
        padding-top: 23px;
        padding-bottom: 12px;
    }
    &__menuBurger {
        padding: 20px 20px;
        padding-right: 30px;
    }
    &__input {
        display: none;
        z-index: 2;
        position: absolute;
        top: 10px;
        right: 16px;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    &__input:checked~ul {
        width: 100%;
        -webkit-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
    }
    &__input:checked~label .burger1 {
        opacity: 1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #000000;
    }
    &__input:checked~label .burger2 {
        opacity: 0;
    }
    &__input:checked~label .burger3 {
        opacity: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #000000;
    }
    &__burger {
        display: block;
        width: 28px;
        height: 3px;
        position: relative;
        background-color: #000000;
        z-index: 1;
        -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
        transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
    }
    .burger1 {
        -webkit-transform-origin: 10% 0%;
        transform-origin: 10% 0%;
        margin-bottom: 5px;
    }
    .burger2 {
        margin-bottom: 5px;
    }
    .burger3 {
        -webkit-transform-origin: 10% 100%;
        transform-origin: 10% 100%;
    }
    &__menu {
        display: none;
    }

    /* Tablet size */

    @include respond-to($bp-md-tablet) {
        .navbar {
            height: 100%;
            width: 70px;
        }
        .navbar__logo {
            width: 100px;
            display: inline-block;
        }
        .navbar__logoName {
            font-size: $xx-large-font;
            padding-top: 35px;
            padding-bottom: 15px;
        }
        .navbar__menuBurger {
            display: inline-block;
        }
        .navbar__menu {
            height: 200px;
            display: inline-block;
            padding-top: 15px;
        }
        .navbar__menu:last-child {
            margin-right: 40px;
        }
        .navbar__menuItem {
            color: $smoky-black;
            font-family: $primary-font;
            font-weight: $primary-font-bold;
            font-size: $large-font;
            margin-top: 25px;
            display: inline-block;
            padding: 0 20px;
        }
        .navbar__menuBurger {
            display: none;
        }
    }
    
    /* Desktop Size */

    @include respond-to($bp-xl-desktop) {
        .navbar {
            height: 100%;
            width: 110px;
        }
        .navbar__logo {
            width: 100px;
            display: inline-block;
        }
        .navbar__logoName {
            font-size: $xx-large-font;
            padding-top: 30px;
        }
        .navbar__menuBurger {
            display: inline-block;
        }
        .navbar__menu {
            padding: 12px 0;
        }
        .navbar__menu:last-child {
            margin-right: 40px;
        }
        .navbar__menuItem {
            padding: 0 28px;
            font-size: $large-font;
        }
        .navbar__menuBurger {
            display: none;
        }
    }
}